<div class="container mt-3">
  <h1 class="text-light py-3">Create a new list</h1>
  <div class="button d-flex justify-content-end">
    <%= link_to "Return to lists", lists_path, class: "btn btn-secondary me-2 mt-4"  %>
  </div>
  <%= render 'form', list: @list %>
</div>
