.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 4em auto;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-bookmark {
  background-color: #2e2d2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $light-gray;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  a {
    color: white;
    background-color: $grey-btn;
    border-radius: 15px;
    padding: 15px 20px;
  }

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
  }
}

.card-bookmark-buttons {
  width: 100%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
